---
import Badge from "../components/Badge.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body>
		<main class="max-w-2xl mx-auto py-12 flex flex-col space-y-10">
			<div class="space-y-1 mx-2">
				<h1 class="text-lg font-bold leading-none">Luka Hietala</h1>
				<p class="text-sm text-zinc-600">Software developer</p>
			</div>
			<div class="grid grid-cols-2 gap-4">
				<div class="space-y-3">
					<h2 class="mx-2 ">
						Blog
						<a href="/blog" class="text-sm font-normal text-zinc-500 ">All</a>
					</h2>
					{
						posts.map((post) => (
							<a href={`/blog/${post.slug}`} class="p-2 hover:bg-gray-100 rounded-md flex flex-col gap-1">
								{post.data.title}
								<span class="text-sm text-zinc-500">
									<FormattedDate date={post.data.pubDate} />
								</span>
							</a>
						))
					}
				</div>
				<div class="space-y-3">
					<h2 class="mx-2">Projects</h2>
					<a href="https://github.com/LukaHietala/classroom-application" class="p-2 hover:bg-gray-100 rounded-md flex flex-col gap-1">
						Classroom App
						<span class="text-sm text-zinc-500">OSS Alternative to Google Classroom</span>
					</a>
				</div>
			</div>
			<div>
				<a href="/rss.xml" class="text-sm hover:underline">RSS Feed,{" "}</a>
				<a href="/sitemap.xml" class="text-sm hover:underline">Sitemap (soon)</a
				>
			</div>
		</main>
	</body>
</html>
