---
import Badge from "../components/Badge.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

// const posts = (await getCollection("blog")).sort(
// 	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
// )
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body>
		<main class="max-w-2xl mx-auto py-12 flex flex-col space-y-8">
			<div class="space-y-2">
				<h1 class="text-xl font-semibold">Luka Hietala</h1>
				<p>
					{`Fullstack developer from Finland. Using `}
					<Badge href="https://trpc.io">
						<span>tRPC</span>
					</Badge>
					{`, `}
					<Badge href="https://astro.build">
						<span>Astro</span>
					</Badge>
					{`, `}
					<Badge href="https://tailwindcss.com">
						<span>Tailwind CSS</span>
					</Badge>
					{`, `}
					<Badge href="https://nextjs.org">
						<span>Next.js</span>
					</Badge>
					{`, and `}
					<Badge href="https://reactjs.org">
						<span>React</span>
					</Badge>
					{` to build things. And I use services like `}
					<Badge href="https://vercel.com">
						<span>Vercel</span>
					</Badge>
					{` and `}
					<Badge href="https://planetscale.com">
						<span>PlanetScale</span>
					</Badge>
					{` to deploy databases and websites. `}
					<Badge href="https://github.com/lukahietala">
						<span>GitHub</span>
					</Badge>
				</p>
			</div>
			<div class="grid grid-cols-2">
				<div class="space-y-2">
					<h2 class="text-lg font-semibold">
						Blog
						<a href="/blog" class="text-sm font-normal text-zinc-500">All</a>
					</h2>
					<p class="text-sm text-zinc-500">Coming soon</p>
					<!-- {
						posts.map((post) => (
							<a href={`/blog/${post.slug}`} class="block hover:underline">
								{post.data.title}
								<span class="text-sm text-zinc-500">
									<FormattedDate date={post.data.pubDate} />
								</span>
							</a>
						))
					} -->
				</div>
				<div class="space-y-2">
					<h2 class="text-lg font-semibold">Projects</h2>
					<a href="/" class="block hover:underline"> Classroom app (soon)</a>
				</div>
			</div>
			<div>
				<a href="/rss.xml" class="text-sm hover:underline">RSS Feed,{" "}</a>
				<a href="/sitemap.xml" class="text-sm hover:underline">Sitemap (soon)</a
				>
			</div>
		</main>
	</body>
</html>
