---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} />
	</head>

	<body>
		<main class="max-w-2xl mx-auto py-12">
			<a href="/" class="text-zinc-500 hover:text-zinc-600"> ← Back</a>
			<article class="text-zinc-500 mt-4">
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</article>
			<h1 class="text-2xl font-semibold">{title}</h1>
			<hr class="mt-2 mb-4 border-zinc-700" />
			<div class="prose ml-auto mr-auto w-full max-w-screen-md sm:mx-auto ">
				<slot />
			</div>
		</main>
	</body>
</html>
